<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>accuracy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>fsaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>modes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0EF04DE4E6F34F52BC5B5523</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1239216D21544BDDA125A609</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1D45713426554033AF07DBF6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297FC99FE01644DFB923C86D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2AAF3C3436AE412A8268750C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B8E57A3FF6348869871E9DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>34DF5061136B42A3979FAA93</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3A151A1A7592416485A18122</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3CA6AD0ABCB34DDEAD177380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5E289C6187C648A1BCA0C764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F1F21A2496A4748AA733948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>711DE5E8E8824C9987A18AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8638A9A2FC0547188B19BA48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>884FD0C21EBB4B1BAB268D06</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D3123BE21E34D9588EACCA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF1C3E2250AB4D9DBCF13EFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C419C7B6C436431D98505DF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C3F15AEFF2412CB7E63417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C7B8107C32964FA68B5EC570</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF6070445AB04FD498EB775A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D45A0DEB306740BA8DF9E1D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBAB4622B16F4C3BB45A4B0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
