<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Cube.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DynamicMesh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Extensions.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GLFWApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>GLFWwindow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Immediate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>ImmediateTriangles.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Keyboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lighting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>LightingAndTexture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Model.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ModelView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Mouse.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>Texture.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>TextureLoader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>TriangleBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>TriangleColorBuffer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>TriangleOrtho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Version.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>accuracy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>clipboard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>defaults.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>events.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>fsaa.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>gamma.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>glfw.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>glfwinfo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>iconify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>install.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>joysticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>modes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>peter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>reopen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>sharing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>tearing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>threads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>title.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>uninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>windows.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>00F8E7479BEF43C9A68AC4C4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>07F419B34E5E40D697D84C67</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA5D91BC651441D83A26F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DCCE783ED554631B226CF9E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18AC027805BB4EACADA687D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>20A6A4B9E84F4C26B6F56868</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>258920027618482CAA01DAD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25CEB733B5954EFEAEF6A24B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2950D2C06FAD436695D73408</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2B75701E8E4643D28427358B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>300BB1EAB7DE4C7E8C74BDA2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>306523A0D00D40CEA9A7BBB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42FB6CA8663D46C082F0FEBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>462688FEC7574BEC9D774299</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>471EB8EF9B5A4177BCE746FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C823DD32658444AAA87BD05</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53AC840926C944AEAE34BDC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>540EEAD33B164800949C3369</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>575184B04B8E426FB53EE1C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59D5425F920B480393573315</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6F2D973EA403452A92D8CF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>773401E4812F4EBD9BAA845D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80F6DFCB60FF4FB0A2472F7D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>887D767DDEED465EA8EC3563</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>898BAF8FB54D4006A5F0534D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A04CC5F59949BBB2F84464</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96888DDCDB5F4E139220BF14</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9C8BEF81A08C4A4BBB324FE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9E5FBCDDCB1B4205B505D1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0373984878B47669B504246</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B416FA1947CD45819BE187C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BAA1DF3478D542CDB04D621B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5C77BE636C74891BE9038CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC9BE52F7C794F929F0648E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CDCFD9CA4AAD418798FE8412</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE714EE188274C6D90A13ABA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D528548224E446E490444F2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D58D78FD40DB4D1FA92F7F54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D72B40DD089A43C8A0F9F133</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F0E968FF5F6A400C93A8E72B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F2960284CC214E6FA74D2895</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
